<%= form_for @entry, :url => entries_path, :html => { :multipart => true } do |form| %>
<div class=  "centered padded row">
  <%= form.file_field :photo, :class => "centered file-field" %>
</div>
<div class=  "centered row">
  <%= form.text_field :description, :placeholder => "description" %>
</div>
<div class=  "centered padded row">
  <%= form.submit "save", :class => ""%>
</div>
<% end %>