<h1>hello world</h1>

<% @entries.each do |entry|%>
  <%= image_tag entry.photo.url if entry.photo.file? %> 
  <p> <%= entry.month_and_day unless entry.capture_time.nil? %>
    <%= entry.description %> </p>
<% end %>

<%= will_paginate @entries %>