<%= link_to "logout", "logout" if session[:logged_in] %>

<div class="container-fluid">
  <div id="entries">
    <%= render @entries %>
  </div>
  <div class = "hidden row">
    <%= will_paginate @entries, :page_links => false %>
  </div>
  <div class = "copyright row">
    <p>Jimi Welling <%= Time.current.year %></p>
  </div>
</div>