<%= image_tag @entry.photo.url if @entry.photo.file? %>
<p><%= @entry.description %></p>
<p><%= @entry.month_and_day %></p>

<%= button_to 'Delete entry', @entry, :method => :delete, data: { confirm: 'Are you sure you want to delete this entry?' } %>